<a href="https://colab.research.google.com/github/jatojoseph/10Academy_Week0/blob/analysis/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import libraries

In [30]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import STOPWORDS,WordCloud
from gensim import corpora
import pandas as pd
import statistics
import string
import os
import re

### Connect to data source

In [31]:
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

In [32]:
df = pd.read_csv('/content/drive/MyDrive/10AcademySentiment/processed_tweet_data.csv', encoding="utf-8")

df.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Fri Apr 22 22:20:18 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,de,113,355.0,McMc74078966,3.0,12,NaN,[],"[{'screen_name': 'nikitheblogger', 'name': 'Ne...",None
1,Fri Apr 22 22:19:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,de,113,505.0,McMc74078966,3.0,12,NaN,[],"[{'screen_name': 'sagt_mit', 'name': 'Sie sagt...",None
2,Fri Apr 22 22:17:28 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,de,113,4.0,McMc74078966,3.0,12,NaN,[],"[{'screen_name': 'Kryptonoun', 'name': 'Krypto...",None
3,Fri Apr 22 22:17:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,de,113,332.0,McMc74078966,3.0,12,NaN,"[{'text': 'Deutschen', 'indices': [16, 26]}, {...","[{'screen_name': 'WRi007', 'name': 'Wolfgang B...",None
4,Fri Apr 22 22:13:15 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @RolandTichy: Baerbock verkÃ¼ndet mal so neb...,0.0,0.0,de,113,386.0,McMc74078966,3.0,12,NaN,[],"[{'screen_name': 'RolandTichy', 'name': 'Rolan...",None

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24637 entries, 0 to 24636
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          24637 non-null  object
 1   source              24633 non-null  object
 2   original_text       24633 non-null  object
 3   polarity            24625 non-null  object
 4   subjectivity        24625 non-null  float64
 5   lang                24625 non-null  object
 6   favorite_count      24625 non-null  object
 7   retweet_count       24625 non-null  float64
 8   original_author     24625 non-null  object
 9   followers_count     24617 non-null  float64
 10  friends_count       24625 non-null  object
 11  possibly_sensitive  8 non-null      object
 12  hashtags            24625 non-null  object
 13  user_mentions       24617 non-null  object
 14  place               24617 non-null  object
dtypes: float64(3), object(12)
memory usage: 2.8+ MB

### Check for errors

In [34]:
print("The number of missing value(s): {}".format(df.isnull().sum().sum()))
print("Columons with missing values:{}".format(df.columns[df.isnull().any()]))

The number of missing value(s): 24793
Columons with missing values:Index(['source', 'original_text', 'polarity', 'subjectivity', 'lang',
       'favorite_count', 'retweet_count', 'original_author', 'followers_count',
       'friends_count', 'possibly_sensitive', 'hashtags', 'user_mentions',
       'place'],
      dtype='object')

### Data Preparation

*   Making correction 
*   Reformatting
*   Combining Dataset

In [35]:
tweets_df = pd.DataFrame(columns=['original_text'])

tweets_df['original_text'] =  df['original_text'].to_list()

In [36]:
# drop row having Null value
tweets_df.dropna()
tweets_df

                                           original_text
0      RT @nikitheblogger: Irre: Annalena Baerbock sa...
1      RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...
2      RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...
3      RT @WRi007: Die #Deutschen sind ein braves Vol...
4      RT @RolandTichy: Baerbock verkÃ¼ndet mal so neb...
...                                                  ...
24632  RT @waglenikhil: à¤à¤ªà¤²à¥à¤¯à¤¾ à¤à¤°à¤¾à¤¤à¤²à¥à¤¯à¤¾ à¤à¥à¤£à¤¤à¥à¤¯à¤¾à¤¹à¥ à¤à¤¾à¤°...
24633  RT @yadavtejashwi: à¤à¥à¤¹à¤°à¤®à¤² à¤¨à¤à¤°, à¤«à¥à¤²à¤µà¤¾à¤°à¥ à¤¶à¤°à¥à¤« à¤®à¥...
24634  RT @Parthtiwari25: Gujarat Congress MLA arrest...
24635  RT @news24tvchannel: CM à¤¨à¥à¤¤à¥à¤¶ à¤à¥à¤®à¤¾à¤° à¤¨à¥ à¤¤à¥à¤à¤¸à¥à¤µà¥...
24636  RT @suvegrathi: à¤­à¤à¤µà¤¾à¤¨ à¤à¤° à¤à¥à¤¦à¤¾ à¤à¤ªà¤¸ à¤®à¥à¤ à¤¬à¤¾à¤¤ à¤à¤° à¤°...

[24637 rows x 1 columns]

## Analyse Hashtag columns

Here, we'll perform univariate analysis on the hash tag column

In [37]:
'''Return a list of all non-overlapping matches in the string.

If one or more capturing groups are present in the pattern, return
a list of groups; this will be a list of tuples if the pattern
has more than one group.'''

re.findall?

In [46]:
#Method to find hashtags from tweets
def find_hashtags(df):
    '''This function will extract hashtags'''
    return re.findall('(#[A-Za-z]+[A-Za-z0-9-_]+)', df)

In [39]:
print(tweets_df.original_text)

0        RT @nikitheblogger: Irre: Annalena Baerbock sa...
1        RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...
2        RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...
3        RT @WRi007: Die #Deutschen sind ein braves Vol...
4        RT @RolandTichy: Baerbock verkÃ¼ndet mal so neb...
                               ...
24632    RT @waglenikhil: à¤à¤ªà¤²à¥à¤¯à¤¾ à¤à¤°à¤¾à¤¤à¤²à¥à¤¯à¤¾ à¤à¥à¤£à¤¤à¥à¤¯à¤¾à¤¹à¥ à¤à¤¾à¤°...
24633    RT @yadavtejashwi: à¤à¥à¤¹à¤°à¤®à¤² à¤¨à¤à¤°, à¤«à¥à¤²à¤µà¤¾à¤°à¥ à¤¶à¤°à¥à¤« à¤®à¥...
24634    RT @Parthtiwari25: Gujarat Congress MLA arrest...
24635    RT @news24tvchannel: CM à¤¨à¥à¤¤à¥à¤¶ à¤à¥à¤®à¤¾à¤° à¤¨à¥ à¤¤à¥à¤à¤¸à¥à¤µà¥...
24636    RT @suvegrathi: à¤­à¤à¤µà¤¾à¤¨ à¤à¤° à¤à¥à¤¦à¤¾ à¤à¤ªà¤¸ à¤®à¥à¤ à¤¬à¤¾à¤¤ à¤à¤° à¤°...
Name: original_text, Length: 24637, dtype: object

In [56]:
# update Hashtage columon with hashtages extracted from Orignal_text columon
tweets_df['hashtags'] = tweets_df.original_text.apply(find_hashtags)
print(tweets_df['hashtags'])

TypeError: ignored